body
    font: 12px Arial
    
path
    stroke: steelblue
    stroke-width: 2
    fill: none

.axis path, .axis line
    fill: none
    stroke: grey
    stroke-width: 1
    shape-rendering: crispEdges
    
.tip
    font: 15px Arial
    color: blue
    background-color: rgba(211,211,211,.5)
